@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

.signature {
  font-family: 'Caveat', cursive;
  font-size: 2rem;
  color: #016f53;
}

@media (max-width: 768px) {
  .signature {
    font-size: 1.6rem;
  }
}
