.sectionTitle {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.4;
  margin: 1rem auto;
}

.culturosityContent {
  background-color: #FFE6D6;
  color: #333333;
  border-radius: 15px;
  padding: 30px;
  overflow: visible;
}

.culturosityDescription {
  font-size: 1.3rem;
  line-height: 1.6;
  font-style: italic;
  margin-top: 5rem;
}

.culturosityTitle {
  color: #016f53;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  line-height: 1.4;
  font-weight: bold;
  margin: 0;
}

.culturosityAuthor {
  font-family: 'Montserrat', sans-serif;
  color: #333333;
  font-size: 1rem;
  font-style: italic;
  line-height: 1.4;
  margin: 0.2rem 0 1.3rem;
}

.culturosityImageWrapper {
  margin: 2rem 0 1rem;
  width: 100%;
}

.culturosityCoverImage {
  border-radius: 8px;
  height: auto;
  width: 100%;
}

.culturosityCoverImageCaption {
  display: block;
  color: #666;
  font-size: 1.0rem;
  text-align: left;
}

.culturosityText {
  font-size: 1.3rem;
  line-height: 1.6;
  color: #333;
}

.culturosityText :global(.imageGrid) {
  display: flex;
  gap: 24px;
  margin: 24px 0;
}

.culturosityText :global(.imageColumn) {
  flex: 1;
}

.culturosityText :global(.imageColumn img) {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.culturosityText :global(.imageCaption) {
  display: block;
  color: #666;
  font-size: 1rem;
  text-align: left;
}

@media (max-width: 768px) {
  .sectionTitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .culturosityText {
    font-size: 1.2rem;
  }

  .culturosityText :global(.imageGrid) {
    flex-direction: column;
    gap: 32px;
  }
}
