.sectionTitle {
  color: var(--text-color);
  font-family: 'Montserrat', sans-serif;
  line-height: 1.4;
  margin: 1rem auto;
}

.musingsContainer {
  background-color: var(--accent-color);
  border-radius: 8px;
  padding: 1.5rem;
}

.musingsImage {
  border-radius: 4px;
  height: auto;
  object-fit: cover;
  width: 100%;
}

.musingsTitle {
  color:;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  line-height: 1.4;
  font-weight: bold;
  margin: 0;
}

.musingsSubTitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-style: italic;
  line-height: 1.4;
  margin: 0.2rem 0 1.3rem;
}

.musingsText {
  font-size: 1.3rem;
  line-height: 1.6;
  color: var(--text-color);
}

@media (max-width: 768px) {
  .sectionTitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .musingsContainer {
    padding: 1.2rem;
  }

  .musingsText {
    font-size: 1.2rem;
    line-height: 1.7;
  }
}