.sectionTitle {
  color: var(--text-color);
  font-family: 'Montserrat', sans-serif;
  line-height: 1.4;
  margin: 1rem auto;
}

.musingsContainer {
  background-color: var(--accent-color);
  border-radius: 8px;
  padding: 1.5rem;
}

.musingsImage {
  border-radius: 4px;
  height: auto;
  object-fit: cover;
  width: 100%;
}

.musingsTitle {
  color:;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  line-height: 1.4;
  font-weight: bold;
  margin: 0;
}

.musingsSubTitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-style: italic;
  line-height: 1.4;
  margin: 0.2rem 0 1.3rem;
}

.musingsText {
  font-family: 'Georgia', serif;
  font-size: 1.3rem;
  line-height: 1.6;
  color: var(--text-color);
}

.musingsToggleButton {
  background-color: #016f53;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Georgia', serif;
  font-size: 1.3rem;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  text-align: left;
  transition: background-color 0.01s ease;
}

.musingsToggleButton:hover {
  background-color: #014d3a;
}

@media (max-width: 768px) {
  .sectionTitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .musingsContainer {
    padding: 1.2rem;
  }

  .musingsText {
    font-size: 1.1rem;
    line-height: 1.7;
  }

  .musingsToggleButton {
    display: inline-block;
    font-size: 1rem;
    margin: 1rem 0 0;
  }
}