/* News from the Clinic Section */

.spotlightIconContainer {
  align-items: center;
  display: flex;
  margin-bottom: 1rem;
}

.spotlightIcon {
  height: 120px;
  margin-right: 1rem;
  width: 120px;
}

.newsFromClinic {
  /* color: #016f53; */
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase;
}

.employeeSpotlightContainer {
  align-items: flex-start;
  background-color: #f5e6c6;
  border-radius: 15px;
  display: flex;
  height: auto;
  min-height: 200px;
  padding: 30px;
}

.employeeSpotlightImageContainer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  width: 160px;
}

.employeeSpotlightImage {
  border-radius: 8px;
  height: 160px;
  margin-bottom: 10px;
  object-fit: cover;
  width: 160px;
}

.employeeName {
  color: #016f53;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  text-align: left;
}

.employeeTitle {
  color: #333;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  margin: 0;
  text-align: left;
}

.employeeSpotlightText {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.employeeSpotlightHeader {
  color: #016f53;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0 0 10px;
  text-align: left;
}

.employeeSpotlightDivider {
  background-color: #016f53;
  height: 2px;
  margin-bottom: 10px;
  width: 100%;
}

.employeeSpotlightDescription {
  color: #333;
  flex: 1;
  font-size: 1.3rem;
  line-height: 1.6;
  overflow: hidden;
}

@media (max-width: 768px) {
  .spotlightIconContainer {
    align-items: flex-start;
    flex-direction: column;
  }

  .spotlightIcon {
    margin-bottom: 1rem;
  }

  .newsFromClinic {
    font-size: 2rem;
    line-height: 1.4;
  }

  .employeeSpotlightContainer {
    align-items: center;
    flex-direction: column;
    padding: 20px;
    text-align: left;
  }

  .employeeSpotlightImageContainer {
    margin-bottom: 20px;
    margin-right: 0;
    order: 2;
    width: 100%;
  }

  .employeeSpotlightImage {
    border-radius: 50%;
    height: 200px;
    width: 200px;
  }

  .employeeName {
    font-size: 1.3rem;
    margin-top: 10px;
  }

  .employeeTitle {
    font-size: 1rem;
  }

  .employeeSpotlightText {
    margin-bottom: 20px;
    order: 1;
    text-align: left;
  }

  .employeeSpotlightHeader {
    font-size: 1.5rem;
    margin-bottom: 15px;
    text-align: left;
  }

  .employeeSpotlightDescription {
    font-size: 1.2rem;
    line-height: 1.7;
  }
}
