.lensSectionTitle {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.4;
  margin: 1rem auto;
}

.lensSectionSubTitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem; 
  line-height: 1.4;
  margin: 0 0 1rem 0;
}

@media (max-width: 768px) {
  .lensSectionTitle {
    font-size: 1.5rem;
  }
}