.lensSectionTitle {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.4;
  margin: 0 auto 0.5rem;
}

.lensSectionSubTitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  line-height: 1.4;
  margin: 0 0 1.5rem 0;
}

@media (max-width: 768px) {
  .lensSectionTitle {
    font-size: 1.5rem;
    margin: 0 auto 0.5rem;
  }

  .lensSectionSubTitle {
    font-size: 15px;
    margin: 0 0 1.25rem 0;
  }
}