.sectionTitle {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.4;
  margin: 1rem auto;
}

.sgmcImage {
  border-radius: 8px;
  height: auto;
  object-fit: cover;
  width: 100%;
}

.sgmcImageCaption {
  display: block;
  font-family: 'Georgia', serif;
  font-size: 1.0rem;
}

.list {
  margin-bottom: 1.5rem;
  padding-left: 1.6rem;
}

.listItem {
  font-family: 'Georgia', serif;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
  .facts {
    margin-top: 3rem;  
  }

  .list,
  .listItem {
    font-size: 1.1rem;
    line-height: 1.7;
  }

  .sectionTitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}