.sectionTitle {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.4;
  margin: 1rem auto;
}

.carouselContainer {
  margin-bottom: 2rem;
}

.thingsToDoContainer {
  background-color: #f0f8ff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.thingsToDoImageContainer {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 8px;
}

.thingsToDoImage {
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.5s ease-in-out;
  width: 100%;
}

.thingsToDoImage.active {
  opacity: 1;
}

.thingsToDoList {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  list-style-type: none;
  margin: 2rem 0 0;
  padding: 0;
}

.thingsToDoItem {
  border-bottom: 1px solid #ccc;
  flex: 0 0 calc(50% - 7.5px);
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.thingsToDoItem:last-child,
.thingsToDoItem:nth-last-child(2):nth-child(odd) {
  border-bottom: none;
}

.thingsToDoTitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  margin: 0 auto 5px;
}

.thingsToDoDate {
  font-size: 1rem;
  margin: 0 auto 5px;
}

.thingsToDoDescription {
  font-size: 1.3rem;
  line-height: 1.6;
  margin: 0 auto;
}

.thingsToDoLink {
  color: #016f53;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
}

.thingsToDoLink:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .sectionTitle {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .carouselContainer {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
  }
  
  .thingsToDoContainer {
    padding: 15px;
  }

  .thingsToDoImageContainer {
    height: 200px;
  }

  .thingsToDoList {
    flex-direction: column;
    margin-top: 1.5rem;
  }

  .thingsToDoItem {
    flex: 0 0 100%;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

  .thingsToDoDescription {
    font-size: 1.1rem;
    line-height: 1.7;
  }

  .thingsToDoItem:nth-last-child(2):nth-child(odd) {
    border-bottom: 1px solid #ccc;
  }

  .thingsToDoItem:last-child {
    border-bottom: none;
  }
}
