.sectionTitle {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.4;
  margin: 1rem auto;
}

.eventList {
  font-family: 'Georgia', serif;
  font-size: 1.3rem;
  padding-left: 20px;
}

@media (max-width: 768px) {
  .sectionTitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .eventList {
    font-size: 18px;
  }
}